<header>
    <img src="assets/bitmapp.png" alt="">
    <div class="overlay"></div>
</header>

<section class="todo">
    <div class="heading">
        <h3>TODO</h3>
        <p>Theme</p>
    </div>
    <div class="inputs">
        <div class="separate">
            <label (change)="getToggleValue($event)" class="container forAdd ">
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            <input type="text" name="" id="" placeholder="Create a new todo." [(ngModel)]="newTodoContent" >
        </div>
        <div (click)="addTodo()" class="cursor-pointer">
            <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
            </svg>
        </div>
    </div>
    <div class="todo-list">
        <div class="list-item" *ngFor="let todo of todos$ | async">
            <div class="sect-1">
                <label (click)="toggleTodoCompletion(todo.id)" class="container">
                    <input type="checkbox" id="checkbx" [checked]="todo.completed">
                    <span class="checkmark"></span>
                  </label>
                <p [style.textDecoration]="todo.completed ? 'line-through' : 'none'" class="content-todo">
                    {{todo.content}}
                </p>
            </div>
            <img (click)="deleteTodo(todo.id)" src="assets/delete_img.png" alt="">
        </div>
        <div class="list-info">
            <p>{{todosLength$ | async}} items left</p>
            <p class="clearbtn cursor-pointer" (click)="clearCompleted()">Clear Completed</p>
        </div>
    </div>
    <div class="switch-sections">
        <p>All</p>
        <p>Active</p>
        <p>Completed</p>
    </div>
</section>