
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.line-through {
  text-decoration: line-through;
}
.cursor-pointer {
  cursor: pointer;
}
header {
    width: 100%;
    height: 250px;
    background-image: url("/assets/bitmapp.png");
    background-repeat: no-repeat;
    background-position-x: -518px;
    background-position-y: -310px;
    position: relative;
}
.overlay {
    background: linear-gradient(90deg, rgba(147, 121, 193, 0.656) 0%, rgba(99,77,200,0.73) 100%);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.todo {
    width: 327px;
    margin: 0 auto;
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}
.heading {
    display: flex;
    justify-content: space-between;
    color: white; /* change later */
    font-family: 'Poppins', sans-serif;
}

.inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 14px 20px;
    gap: 15px;
    border-radius: 5px;
    margin-top: 40px;
}
.separate {
  display: flex;
  justify-content: start;
}
.inputs input {
    height: 25px;
    border: none;
    outline: none;
}

/* CHECKBOX STYLES */

  .container {
    display: block;
    position: relative;
    margin: 0 20px 12px 0;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .forAdd {
    width: 15px;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;

  }
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .container input:checked ~ .checkmark {
    background: linear-gradient(125deg, rgba(85, 221, 255) 0%, rgba(192, 88, 243) 100%);
    
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
/* ////////////////// */

.todo-list {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    margin-top: 16px;
    font-size: 12px;
    font-family:Arial, Helvetica, sans-serif;
 }

.list-item {
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E3E4F1;

   
}


.list-item .sect-1 {
    display: flex;
    gap: 12px;
    justify-content: start;
    align-items: start;
}

.list-item .sect-1 p {
    padding-top: 5px;
}

.list-item img {
    cursor: pointer;
}

.list-info {
    padding: 20px 16px;
    display: flex;
    justify-content: space-between;
    color: #9495A5;
}

.switch-sections {
    padding: 20px 16px;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    gap: 19px;
    margin-top: 16px;
    border-radius: 5px;
    font-family:Arial, Helvetica, sans-serif;

}